body {
	background-color: white;
	

	}

h1 {	


}
h5{
	color: #1f5889;
	text-transform: uppercase; 

}
h6{
	
}



.container-fluid {
	
	padding:0 4% 0;

}


/*Navbar*/

#navbar {
	background-color: #6c6c6c;
}


.navbar-search-icon {
	font-size: 2rem;
	margin-left: 50px;

}

.navbar-brand {
	font-size: 4rem;
	font-family: 'Abril Fatface', cursive;
}






/*Navbar*/

/*title*/

#title {
	background-color: #6c6c6c;	
	padding-bottom: 2%;	
	padding-top: 10%;
}

#title h1{

	color: white;
	font-weight: bold;

}

#title p{

	color:white;
	margin-bottom: 5%;

}

#title .container-fluid {
	padding-bottom: 200px;
}

.title {
	text-align: left;
	
}

.title-lang{
	font-size: 300%;
	text-align: right;
	margin-top: 15%;
	
}

.title-lang-icon {
	font-size: 3rem;
	color:#d7d7d7;
}
.title-lang-icon:hover{
	color: white;
	cursor: pointer;
}


/*title*/




/*Services section*/

#services{
	background-color: #f8f8f8;
	
}

#services p{
	color: gray;
}

#services h2{
	font-weight: bold;
}

#services a{
	color: #1e7e34;
	font-size: 0.75rem;
}

.services-unit {
	text-align: center;
	background-color: #ffffff;
	padding:10%;
	margin: 3%;
	position: relative;
	top:-45%;

-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.29);
box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.29);


}


.services-icon {
	color: #1f5889;
	margin-bottom: 4%;
	font-size: 3rem;
}

/*Services section*/


/*About US*/
#about-us {
	background-color: #f6f6f6;
	
}



#about-us p{
	/*font-size: 1.2rem;*/
}

.without-fields {
	
	padding:0;

	
}

.about-us-icon{
	color: #1f5889;
	margin-right: 15px;
}
.checked {
	text-align: center;
	padding-bottom: 5%;
	margin-top: 2%;
	
}

@media screen and (max-width:1024px){
   .checked {
     text-align: left;
   }
}

	
	

.about-us-image {
	width:inherit;
}








/*About US*/


/*How it works*/

#how-it-works {
	background-color: white;
	margin-bottom: 10%;
	
	
}



.how-it-works-unit1{
/*background-color: #060606;*/
padding: 10%;
height: 100%;
width: 100%;
background-color: black;

}

.how-it-works-unit2 {
background-color: #0f4c81;
padding: 20%;
height: 100%;
width: 100%;
position: relative;
overflow: hidden;
}

.how-it-works-unit2 h3  {
	color:white;
	
	position: relative;
}

.how-it-works-unit2 p{
	color:white;
	
	position: relative;
}

.how-it-works-unit3{

padding: 20%;
height: 100%;
width: 100%;
position: relative;
overflow: hidden;
}

.how-it-works-unit4{
background-color: #060606;
padding: 20%;
height: 100%;
width: 100%;
position: relative;
overflow: hidden;
}


.how-it-works-unit4 h3  {
	color:white;
}

.how-it-works-unit4 p{
	color:white;
}
.how-it-works-unit-digit {
	font-size:15rem;
	position: absolute;
	top:-25%;
	right: -12%;
	font-weight: bold;
	color: black;
	opacity: 0.1;
}

.digit-white{
	color:white;
}







/*How it works*/






/*Our Team*/

#our-team {
	
}




/*Our Team*/
